.box {
  height: 50%;
  background: #eee;
}

.row {
  overflow-x: scroll;
  padding: 2rem;
  height: 100%;
}

.col {
  height: 300px;
}

.card-img {
  width: 50%;
  margin: auto;
}

.card-title {
  font-size: 1rem;
}

.btn:active {
  background: red;
}
